<template>
    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-3 col-xxl-3 mb-4">
        <div class="bg-light rounded-lg p-5 shadow">
            <h2 class="h6 font-weight-bold text-center mb-4">
                {{ this.$props.title }}
            </h2>
            <RoundProgress :percents="this.$props.percents" :value="this.$props.value"
                           :border-class="this.$props.borderClass"/>
            <div class="row text-center mt-4 justify-content-center">
                <div class="col-5 border-right">
                    <div class="h4 font-weight-bold mb-0">28%</div>
                    <span class="small text-gray">{{ $t('dashboard.summary.charts.body.lastWeek') }}</span>
                </div>
                <div class="col-5">
                    <div class="h4 font-weight-bold mb-0">60%</div>
                    <span class="small text-gray">{{ $t('dashboard.summary.charts.body.lastMonth') }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import RoundProgress from "@/components/progress/RoundProgress.vue";

export default {
    props: {
        title: {
            type: String
        },
        value: {
            type: String
        },
        percents: {
            type: Number,
            default: 0
        },
        borderClass: {
            type: String,
            default: 'border-primary'
        }
    },
    name: "MacronutrientCard",
    components: {RoundProgress}
}
</script>

<style scoped>

</style>
