<template>
    <section class="container my-3 py-3">
        <h1>{{ $t('dashboard.summary.title') }}</h1>
        <div class="container-fluid">
            <div class="row pt-3 justify-content-center">
                <MacronutrientCard :percents="80" value="80%" border-class="border-primary"
                                   :title="$t('dashboard.summary.charts.kcal.title')"/>
                <MacronutrientCard :percents="10" value="10%" border-class="border-success"
                                   :title="$t('dashboard.summary.charts.proteins.title')"/>
                <MacronutrientCard :percents="46" value="46%" border-class="border-warning"
                                   :title="$t('dashboard.summary.charts.fats.title')"/>
                <MacronutrientCard :percents="67" value="67%" border-class="border-info"
                                   :title="$t('dashboard.summary.charts.carbs.title')"/>
            </div>
        </div>
    </section>
</template>

<script>
import RoundProgress from "@/components/progress/RoundProgress.vue";
import MacronutrientCard from "@/views/dashboard/summary/MacronutrientCard.vue";

export default {
    name: "SummaryPage",
    components: {MacronutrientCard, RoundProgress}
}
</script>

<style scoped>
</style>
