<template>
    <div class="progress mx-auto">
        <span class="progress-left">
            <span class="progress-bar" :class="borderClass"></span>
        </span>
        <span class="progress-right">
            <span class="progress-bar" :class="borderClass"></span>
        </span>
        <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
            <div class="h3 fw-bold">{{ this.$props.value }}</div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        value: {
            type: String
        },
        percents: {
            type: Number,
            default: 0
        },
        borderClass: {
            type: String,
            default: 'border-primary'
        }
    },
    name: "RoundProgress",
    mounted() {
        let value = this.$props.percents

        let left = this.$el.querySelector('.progress-left .progress-bar')
        let right = this.$el.querySelector('.progress-right .progress-bar')

        if (value > 0) {
            if (value <= 50) {
                right.style.transform = 'rotate(' + percentageToDegrees(value) + 'deg)'
            } else {
                right.style.transform = 'rotate(180deg)'
                left.style.transform = 'rotate(' + percentageToDegrees(value - 50) + 'deg)'
            }
        }

        function percentageToDegrees(percentage) {
            return percentage / 100 * 360;
        }
    }
}
</script>

<style scoped>
.progress {
    width: 100%;
    padding-top: 100%;
    background: none;
    position: relative;
}

.progress::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 6px solid #eee;
    position: absolute;
    top: 0;
    left: 0;
}

.progress > span {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-bar {
    width: 100%;
    height: 100%;
    background: none;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: 0;
}

.progress .progress-left {
    left: 0;
}

.progress .progress-left .progress-bar {
    left: 100%;
    border-top-right-radius: 640px;
    border-bottom-right-radius: 640px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.progress .progress-right {
    right: 0;
}

.progress .progress-right .progress-bar {
    left: -100%;
    border-top-left-radius: 640px;
    border-bottom-left-radius: 640px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}

.progress .progress-value {
    position: absolute;
    top: 0;
    left: 0;
}
</style>
