<template>
    <main>
        <Navbar></Navbar>
    </main>
    <router-view/>
</template>

<script>
import LocaleChanger from "@/components/localeChanger/LocaleChanger.vue";
import Navbar from "@/components/navigation/Navbar.vue";

export default {
    name: "DashboardPage",
    components: {Navbar, LocaleChanger}
}
</script>
