<template>
    <div class="locale-changer">
        <select class="form-select bg-transparent border-0 text-light" v-model="$i18n.locale"
                aria-label="Language select">
            <option v-for="locale in $i18n.availableLocales" :key="`locale-${locale}`" :value="locale">{{
                    $t(`locale.${locale}`)
                }}
            </option>
        </select>
    </div>
</template>

<script>
export default {
    name: "LocaleChanger"
}
</script>

<style scoped>
.locale-changer select {
    background-image: url("bootstrap-icons/icons/globe.svg");
    background-size: 20px;

    padding: .375rem .75rem .375rem 2.25rem;
    background-position: left .50rem center;
}
</style>
