<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top px-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="src/assets/vue.svg" alt="" width="30" height="24"
                     class="d-inline-block align-text-top"/>
                Nourish
            </a>
            <component :is="content"></component>
            <LocaleChanger v-show="showLocale" class="locale"></LocaleChanger>
        </div>
    </nav>
</template>

<script>
import LocaleChanger from "@/components/localeChanger/LocaleChanger.vue";

export default {
    props: {
        content: {
            type: [String, Object]
        },
        showLocale: {
            type: Boolean,
            default: true
        }
    },
    name: "Navbar",
    components: {LocaleChanger},
}
</script>
