<template>
    <main class="container-fluid bg-light m-0 p-0">
        <Navbar :content="menu"></Navbar>
        <span class="pt-3" id="home"></span>
        <section class="my-3 py-3">
            <div class="col-8 mx-auto">
                <h1>{{ $t('main.home.title') }}</h1>
                <a>{{ $t('main.home.body') }}</a>
            </div>
        </section>
        <span class="pt-3" id="about"></span>
        <section class="my-3 py-3 bg-primary bg-opacity-10">
            <div class="col-8 mx-auto">
                <h2 class="text-center my-3">{{ $t("main.about.title") }}</h2>
                <a>{{ $t('main.about.body') }}</a>
            </div>
        </section>
        <span class="pt-3" id="faq"></span>
        <section class="my-3 py-3">
            <div class="col-8 mx-auto">
                <h2 class="text-center my-3">FAQ</h2>
                <div id="faqAccordion" class="accordion">
                    <div class="accordion-item" v-for="(faqItem, faqItemIndex) in faq" :key="faqItemIndex">
                        <h2 :id="`faqAccordionHeader${faqItemIndex}`" class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    :data-bs-target="`#faqAccordionCollapse${faqItemIndex}`" aria-expanded="false"
                                    :aria-controls="`faqAccordionCollapse${faqItemIndex}`">
                                {{ faqItem.question }}
                            </button>
                        </h2>
                        <div :id="`faqAccordionCollapse${faqItemIndex}`" class="accordion-collapse collapse"
                             :aria-labelledby="`faqAccordionHeader${faqItemIndex}`" data-bs-parent="#faqAccordion">
                            <div class="accordion-body" v-html="faqItem.answer"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</template>

<script>
import {shallowRef} from "vue";
import LocaleChanger from "@/components/localeChanger/LocaleChanger.vue";
import Navbar from "@/components/navigation/Navbar.vue";
import Menu from "@/views/main/Menu.vue";

export default {
    name: "MainPage",
    components: {Navbar, LocaleChanger},
    data() {
        return {
            faq: [
                {
                    question: "Question 1",
                    answer: "Answer 1"
                },
                {
                    question: "Question 2",
                    answer: "Answer 2"
                },
                {
                    question: "Question 3",
                    answer: "Answer 3"
                },
                {
                    question: "Question 4",
                    answer: "Answer 4"
                },
                {
                    question: "Question 5",
                    answer: "Answer 5"
                }
            ],
            menu: shallowRef(Menu)
        }
    }
}
</script>
