<template>
    <div class="ms-auto">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav w-100">
            <li class="nav-item">
                <a class="nav-link" href="#home">{{ $t('main.navbar.home') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">{{ $t('main.navbar.about') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#faq">{{ $t('main.navbar.faq') }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contacts">{{ $t('main.navbar.contacts') }}</a>
            </li>
            <li>
                <hr class="text-light">
            </li>
            <li class="nav-item ms-lg-auto">
                <router-link class="nav-link" to="dashboard">{{ $t('dashboard.name') }}</router-link>
            </li>
        </ul>
    </div>
</template>

<script>
export default {
    name: "Menu"
}
</script>
